<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Dani</string>
	<key>fuckbuddys</key>
	<dict>
		<key>Gergana</key>
		<integer>10</integer>
		<key>Cona</key>
		<integer>12</integer>
		<key>Desnislava</key>
		<integer>100</integer>
	</dict>
	<key>condoms</key>
	<true/>
	<key>data</key>
	<data>MjAxMS0xMi0yMVQxOTozMzo1MVo=</data>
	<key>date</key>
	<date>2011-12-21T19:34:18Z</date>
	<key>colors</key>
	<array>
		<string>0x1ff</string>
		<string>0x2ff</string>
		<string>0x3ff</string>
		<string>0x4ff</string>
		<string>0x5ff</string>
		<string>0x6ff</string>
		<string>0x7ff</string>
		<string>0x8ff</string>
	</array>
</dict>
</plist>
